*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-bottom: 115px;
}
 
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

button,
a,
label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.result{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 8px;
}


.content{
  display: flex;
  width: 1140px;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  
}

/* moved below: details column comes after search-form in HTML */

/* list (defined later near details section) */

/* list container (defined later near details section) */

.content__video-card{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  object-fit:cover;
  object-position: center;
}

.content__video-card-description-container{
  flex-grow: 1;
}

.search-form{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
}




.result__video-container{
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 17px;
}
.result__video{
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.search-form__fieldset-title{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}


.content__details{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 22px;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
}

.title{
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 2px;
}
.content__accent{
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
 
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}


.content__list-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 307px;
  overflow-y: auto;
  gap: 30px;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-inline: 3px;
}

.content__video-card-title{
  width: 196px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-end: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 4px;
}

.content__video-card-description{
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
  
}

.search-form__fieldset{
  border: none;
  padding-bottom: 1px;
}

.search-form__label{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield{
  width: 225px;
  appearance: none;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}



.content__card-link:hover{
  text-decoration: underline;
}